Options -Indexes


#HTTPS Redirect
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#Remove INSECURE CONTENT
Header always set Content-Security-Policy: upgrade-insecure-requests
